<h1>
{{#user}}
	{{#if html_url}}<a class="user" href="{{html_url}}" target="_blank">{{/if}}
	<img src="{{avatar_url}}" /> {{login}}
	{{#if html_url}}</a>{{/if}}
{{/user}}
{{#if html_url}} / <a href="{{html_url}}" target="_blank">{{#first files}}{{filename}}{{/first}}</a>{{/if}}
</h1>
<ul class="actions">
	<li class="star"><i class="fa fa-star-o"></i></li>
	<li class="comments"><a href="{{html_url}}#comments" target="_blank"><i class="fa fa-comment-o"></i> <var>{{comments}}</var></a></li>
	<li class="fork"><a href="#fork"><i class="fa fa-code-fork"></i> <var>{{length forks}}</var></a></li>
</ul>
<ul class="statuses">
	<li class="privacy">{{#if public}}<i class="fa fa-eye"></i> public{{else}}<i class="fa fa-eye-slash"></i> private{{/if}}</li>
</ul>
<section id="editor"></section>
<section id="results"></section>